@font-face {
  font-family: "Android";
  src: url("Projeto/fontes/idroid.otf") format("opentype");
}

* {
  margin: 0%;
}

:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --fonte0: Arial, Helvetica, sans-serif;
  --fonte1: "Bebas Neue", cursive;
  --fonte2: "Android", sans-serif;
  --box-shadow-padrao-texto: 2px 2px 5px rgba(0, 0, 0, 0.400);
}

body {
  font-family: var(--fonte0);
  color: var(--cor0);
}

header {
  background-image: linear-gradient(to bottom, #2fa866, #1a5c37, #063d1e);
  text-align: center;
  text-shadow: var(--box-shadow-padrao-texto);
}

header > h1 {
  padding: 30px;
}

header > p {
  padding-bottom: 30px;
}

nav {
  background-color: #063d1e;
  height: 30px;
}

nav > a {
  margin: 10px 0px;
  font-family: var(--fonte0);
  text-decoration: none;
  color: #83e1ad;
  padding: 12px 10px;
  border-radius: 3px;
  text-align: center;
}

a:hover {
  background-color: #2fa866;
}

main {
  background-color: white;
  padding: 0px;

}

#titulo {
  padding: 10px 10px 15px 10px;
}

.titulo2 {
  margin: 10px 0px 15px 0px;
  padding-left: 10px;
  background-image: linear-gradient(to right, #83e1ad, #ffffff);
}
.pinicial {
  text-indent: 30px;
  text-align: justify;
  color: black;
  padding: 10px;
}

.imagem {
  max-width: 100%; /* Torna a imagem responsiva */
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Remove espaços extras abaixo da imagem */
  margin: auto; /* Centraliza a imagem */
}

/* Substitui a imagem quando a largura da tela for igual ou inferior a 600 pixels */
@media (max-width: 600px) {
  .imagem {
    content: url("Projeto/imagens/dan-droids-pq.png");
  }
}

.imagem2 {
  max-width: 100%; /* Torna a imagem responsiva */
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Remove espaços extras abaixo da imagem */
  margin: auto; /* Centraliza a imagem */
}

/* Substitui a imagem quando a largura da tela for igual ou inferior a 600 pixels */
@media (max-width: 600px) {
  .imagem2 {
    content: url("Projeto/imagens/irina-blok-pq.jpg");
  }
}

.box-video {
  padding: 25px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 100%;
  background-color: #063d1e;
  width: 70%;
  text-align: center;
}

.imagem3 {
  max-width: 100%; /* Torna a imagem responsiva */
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Remove espaços extras abaixo da imagem */
  margin: auto; /* Centraliza a imagem */
}

.rodape {
  text-indent: 30px;
  text-align: justify;
  color: black;
  padding: 10px 10px 30px 10px;
}

ul {
  list-style-type: "12714)0020)0020";
  columns: 2;
  list-style-position: inside;
}

.cabecaCuriosidade {
  background-color: #2fa866;
  padding: 10px;
  border-radius: 5px;
  text-shadow: var(--box-shadow-padrao-texto);
}

#curiosidades {
  margin: 0px 10px 10px 10px;
  border-radius: 5px 5px 5px 5px;
  background-color: #c5ebd677;
}

aside > ul {
  list-style-type: "\2714\00a0\00a0";
  list-style-position: inside;
  columns: 2;
  padding: 20px;
  color: var(--cor5);
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  flex: 1 0 50%; /* Ajuste conforme necessário */
  margin: 5px;
}

